---
permalink: "contact/thanks/"
---
{% set animation = 'slide-from-left' %}
{% extends 'layouts/base.njk' %}

{% block metaTitle %}
    Thanks - carlevans.dev
{% endblock %}

{% block content %}
    <h1 class="page-heading">
        <a href="/contact">Contact</a> / Thanks.
    </h1>
    <div class="block-padding-large pink relative">
        <h2>ATSUSNAI (thank you)</h2>
        <p>
        Your message has been sent.
        I will be in touch.
        </p>
        <a href="/" class="btn">Go Home</a>
    </div>
    {% endblock %}