---
data: projects
alias: projects
permalink: "projects/"
---
{% set animation = 'slide-from-right' %}
{% extends 'layouts/base.njk' %}

{% block metaTitle %}
    Projects - carlevans.dev
{% endblock %}

{% block content %}
    <h1 class="page-heading">Projects.</h1>
    <div class="grid halves projects-index">
        {% set theme = cycler('pink', 'navy', 'navy', 'pink') %}
        {% for entry in projects %}
            <a href="{{ entry.slug }}" aria-label="{{ entry.title }}">
                <div 
                    class="about-panel about-panel--project has-image"
                    style="background-image: -webkit-linear-gradient(135deg, transparent, #333), url('{{ entry.blocks[0].image }}');background-repeat:no-repeat;background-size: cover; background-position:center;"
                >
                    <h3>{{ entry.title }}</h3>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}